<html>
<head>
    <link rel="stylesheet" href="css/medication.css">
</head>
<div class="header">
    <h1> Выберите действующее вещество </h1>
</div>
<div class="bg"></div>

<div>
    <form method="GET" action="" name="search">
        <label for="medication_name">Введите название:</label>
        <input type="text" id="medication_name" name="medication_name" value="{{ .medicationName }}">
        <input type="submit" class="button" value="Поиск">
    </form>
</div>
<div class="medication_group">
    {{ range .medications }}
    <div class="medication">
        <img class="medication_image" src="{{ .ImagePath }}" alt="Изображение">
        <h5 class="medication_title">{{ .Name }}</h5>
        <a class="button medication_button" href="{{ .Name }}">Подробнее</a>
        <div></div>
    </div>
    {{ end }}
</div>
</html>
