<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/medications.css">
    <title>Подробнее о действующем веществе</title>
</head>
<body>
<div class="header">
    <h1>Подробнее о действующем веществе</h1>
</div>
<div class="container">
    <div class="medicine-details">
        <img src="{{ .ImagePath }}" alt="Изображение" class="medicine-image">
        <div class="medicine-info">
            <h2>{{ .Name }}</h2>
            <p><strong>Дозировка:</strong> {{ .Dosage }}</p>
            <p><strong>Производитель:</strong> {{ .Manufacturer }}</p>
            <p><strong>Цена:</strong> {{ .Price }} руб.</p>
            <a class="button" href="/">На главную страницу</a>
        </div>
    </div>
</div>
</body>
</html>
